.pricing {
    width: 100%;
    padding: 5rem 1rem;
    /* background-color: #dff9ff97; */
    /* background-color: rgba(99, 153, 180, 0.8); */
    background-color: rgb(230, 233, 237);
}

.card-container {
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(3, 1fr);
}

.card-container .card {
    border: 1px solid #bdbdbd;
    color: #eee;
    width: auto; /* << adding width */
}

.card {
    text-align: center;
    /* padding: 1rem; */
}

.card:hover {
    background-color: hsla(236, 100%, 97%, 0.293);
}

.card h3 {
    font-size: 1.4rem;
    padding: 1rem;
    color: #000000;
    margin-top: 1rem;
}

.card .bar {
    border-bottom: 1px solid #eee;
    width: 10%;
    margin: 1.5rem auto;
    display: block;
}

.card .eth {
    font-size: 4rem;
    font-weight: 600;
    padding: 1rem;
}

.pricing p {
    color: #000000;
    padding: 1rem 0;
    font-size: 1.2rem;
}

.card .btn {
    display: block;
    width: 80%;
    margin: 2rem auto;
    color: #000000;
}

/* @media screen and (max-width: 980px) {
    .card-container {
        max-width: 90%;
        margin: auto;
        grid-template-columns: 1fr;
    }
} */

@media screen and (max-width: 1240px) { /* Large screens */
    .pricing {
        padding: 4rem 1rem;
    }

    .card-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 992px) { /* Medium screens */
    .pricing {
        padding: 3rem 1rem;

    }

    .card-container {
        grid-template-columns: repeat(2, 1fr);
        max-width: 700px; 
    }

    .pricing p {
        font-size: 1rem;
    }

    .card h3 {
        font-size: 1.2rem;
    }

    .card .eth {
        font-size: 3rem;
    }
}

@media screen and (max-width: 768px) { /* Small screens */
    .pricing {
        padding: 1rem 1rem;
    }

    .card-container {
        grid-template-columns: 1fr; 
        max-width: 500px;
    }

    .pricing p {
        font-size: 0.8rem;
    }

    .card h3 {
        font-size: 1rem;
    }

    .card .eth {
        font-size: 2rem;
    }
}

@media screen and (max-width: 640px) { /* Extra Small screens */
    .card-container {
        grid-template-columns: 1fr;
        max-width: 400px;
    }
}
