.hero-img {
    background: rgba(0,0,0,.3);
    height: 50vh;
    width: 100%;
    position: relative;
    image-rendering: optimizeQuality;
}

.hero-img:before {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.hero-img .heading {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-img h1 {
    font-size: 3rem;
}

.hero-img p {
    font-size: 1.5rem;
}

@media screen and (max-width: 1240px) { /* For Large screens */
    .hero-img {
        height: 40vh;
    }

    .hero-img h1 {
        font-size: 2.5rem;
    }
    
    .hero-img p {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 992px) { /* For Medium screens */
    .hero-img {
        height: 30vh;
    }

    .hero-img h1 {
        font-size: 3rem;
    }
    
    .hero-img p {
        font-size: 2rem;
    }
}

@media screen and (max-width: 768px) { /* For Small screens */
    .hero-img {
        height: 25vh;
    }

    .hero-img h1 {
        font-size: 2.5rem;
    }
    
    .hero-img p {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 640px) {
    .hero-img {
        height: 20vh;
    }
    .hero-img h1 {
        font-size: 2rem;
    }

    .hero-img p {
        font-size: 1rem;
    }
}

