.grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    background-color: rgb(230, 233, 237);
  }
  
  .grid-item {
    flex-basis: calc(50% - 40px); 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    /* margin-bottom: 20px auto; */
    margin: 10px auto;
  }
  
  .grid-item h3 {
    font-weight: 700;
    font-size: 2rem;
    margin: 2px auto;
    color: rgb(0, 0, 0);
    letter-spacing: 3px;
    text-align: center; 
  }
  
  .grid-item p {
    font-weight: 500;
    font-size: 20px;
    /* margin: 4px auto; */
    margin: 20px auto;
    text-align: center;
    color: rgb(0, 0, 0);

    width: 80%;
  }
  
  .grid-item img {
    width: 80%;
    height: 400px;
    object-fit: cover;
    margin: 20px auto;
    border-radius: 80%;
  }
  
  /* .grid-paragraph {
    width: 50%;
   margin: auto;
  } */
  @media screen and (max-width:1240px) {
    .grid-item p {
      width: 80%;
      margin: 15px auto;
    }

  }

  @media screen and (max-width: 900px) { /* Tablet */
    .grid-item {
        flex-basis: 90%; /* full width on smaller screens */
    }
  
    .grid-item h3 {
        font-size: 1.5rem;
    }
  
    .grid-item p {
        font-size: 18px;
        margin: 10px auto;
        width: 70%;
    }
  
    .grid-item img {
        height: 300px; /* adjust as needed */
        border-radius: 50%;
    }
  }
  
  @media screen and (max-width: 600px) { /* Phone */
    .grid-item {
      flex-basis: 90%; 
    }
  
    .grid-item h3 {
        font-size: 1.2rem;
    }
  
    .grid-item p {
        font-size: 16px;
        margin: 15px auto;
    }
  
    .grid-item img {
        height: 200px; /* adjust as needed */
        border-radius: 100%;
    }
  }
